<main class="custom-dark main-container">
<div class="forgot-password-container">
  <h2 class="forgot-password-title">Forgot Password</h2>

  <input
    type="email"
    [(ngModel)]="email"
    class="forgot-password-input"
    placeholder="Enter your email"
  />

  <button (click)="resetPassword()" class="forgot-password-button">
    Send Reset Link
  </button>

  <div *ngIf="message" class="forgot-password-message success">{{ message }}</div>
  <div *ngIf="error" class="forgot-password-message error">{{ error }}</div>
</div>
</main>