<main class="custom-dark main-container">
<div class="forgot-password-container">
  <h2 class="forgot-password-title">Forgot Password</h2>

  <input
    type="email"
    [(ngModel)]="email"
    class="forgot-password-input"
    placeholder="Enter your email"
  />

  <button 
  (click)="resetPassword()" 
  [disabled]="isResetting" 
  class="forgot-password-button bg-yellow-600 text-white px-4 py-2 rounded disabled:opacity-50 disabled:cursor-not-allowed">
  {{ isResetting ? 'Sending...' : 'Send Reset Link' }}
  </button>

  <div *ngIf="message" class="forgot-password-message success">{{ message }}</div>
  <div *ngIf="error" class="forgot-password-message error">{{ error }}</div>
</div>
</main>