<!-- REMINDER!!! THIS IS FOR PAGE REVIEW CONTENT-->
<main class="main-container custom-dark">
    <div class="div-1 custom-dark">
        <div class="flex flex-col w-full gap-4 sm:gap-0">
            <!-- Sa taas pag small screen -->
            <div class="block sm:hidden">
                <button (click)="goBack()" 
                    class="back2pageinfo-btn">
                    Back to Page Information
                </button>
            </div>
            <!-- Pang Large-larger screen -->
            <div class="flex flex-col sm:flex-row justify-between items-center w-full">
                <h3 class="h3">
                    Reported Posts
                </h3>                       
                <!-- Visible only on larger screens -->
                <div class="hidden sm:block">
                    <button (click)="goBack()" 
                        class="back-btn">
                        Back to Page Information
                    </button>
                </div>
            </div>
        </div> 
        <div class="mt-2 bg-white rounded-lg p-4 custom-dark">
            <div class="flex flex-col gap-3">
                <div (click)="gotoInfo(post.POST_URL)" *ngFor="let post of posts" 
                    class="post-info-box">                        
                <!-- Avatar / Icon -->
                <div class="avatar">
                    🚩
                </div>
                <!-- Content -->
                <div class="flex flex-col w-full">      
                    <!-- Reports Count & Threat Level (One Line) -->
                    <div class="flex items-center gap-3 justify-between">
                        <p class="text-xl text-black font-bold dark:text-white">
                            {{ post.TOTAL_REPORTS }} Reports
                        </p>
                        <p class="text-2xl font-bold text-black dark:text-white">
                                {{ postLevels[post.POST_ID].toFixed(1) }}/5 🚩
                        </p>
                        </div>
                        <!-- Post Content (Below) -->
                        <p class="text-1lg text-gray-900 mt-1 dark:text-white">
                                {{ post.POST_CONTENT }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>