<main class="main-container">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <div class="div-1">
        <div class="flex flex-col w-full gap-4 sm:gap-0">
            <!-- Sa taas pag small screen -->
            <div class="block sm:hidden">
                <button (click)="goBack()" 
                    class="back2pageinfo-btn">
                    Back to Page Information
                </button>
            </div>
            <!-- Pang Large-larger screen -->
            <div class="flex flex-col sm:flex-row justify-between items-center w-full">
                <h3 class="h3">
                    Post Reports 
                </h3>                       
                <!-- Visible only on larger screens -->
                <div class="hidden sm:block">
                    <button (click)="goBack()" 
                        class="back-btn">
                        Back to Page Information
                    </button>
                </div>
            </div>
        </div> 
        <div class="mt-2 bg-white rounded-lg p-4">
            <div class="flex flex-col gap-3">
                <div (click)="gotoInfo(post.POST_URL)" *ngFor="let post of posts" 
                    class="post-info-box">                        
                <!-- Avatar / Icon -->
                <div class="avatar">
                    🚩
                </div>
                <!-- Content -->
                <div class="flex flex-col w-full">      
                    <!-- Reports Count & Threat Level (One Line) -->
                    <div class="flex items-center gap-3 justify-between">
                        <p class="text-xl text-black font-bold">
                            {{ post.TOTAL_REPORTS }} Reports
                        </p>
                        <p class="text-2xl font-bold text-black">
                                {{ postLevels[post.POST_ID].toFixed(1) }}/5 🚩
                        </p>
                        </div>
                        <!-- Post Content (Below) -->
                        <p class="text-1lg text-gray-900 mt-1">
                                {{ post.POST_CONTENT }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>