<footer class="footer-container w-full">
            <!-- Pag gusto ng marquee sa footer
                <div class="marquee">
                    <div class="marquee-track">
                        <img src="angular.png" alt="angular">
                        <img src="html.png" alt="html">
                        <img src="css.png" alt="css">
                        <img src="twcss.png" alt="tailwindcss">
                        <img src="supabase.png" alt="supabase">
                        <img src="python.png" alt="python">
                        <img src="flask.png" alt="flask">
                        <img src="angular.png" alt="angular">
                        <img src="html.png" alt="html">
                        <img src="css.png" alt="css">
                        <img src="twcss.png" alt="tailwindcss">
                        <img src="supabase.png" alt="supabase">
                        <img src="python.png" alt="python">
                        <img src="flask.png" alt="flask">
                        <img src="angular.png" alt="angular">
                        <img src="html.png" alt="html">
                        <img src="css.png" alt="css">
                        <img src="twcss.png" alt="tailwindcss">
                        <img src="supabase.png" alt="supabase">
                        <img src="python.png" alt="python">
                        <img src="flask.png" alt="flask">
                        <img src="angular.png" alt="angular">
                        <img src="html.png" alt="html">
                        <img src="css.png" alt="css">
                        <img src="twcss.png" alt="tailwindcss">
                        <img src="supabase.png" alt="supabase">
                        <img src="python.png" alt="python">
                        <img src="flask.png" alt="flask">
                    </div>
                </div>
            -->
    <span class="absolute left-[-10%] top-0 box-shadow-[0_0_1000px_50px_#1d4de8] z-[-100]"></span>
    <span class="absolute right-[-10%] top-0 box-shadow-[0_0_1000px_50px_#1d4de8] z-[-100]"></span>
    <div class="outer-div mb-3">
        <div class="mid-div">
            <div class="inner-div1">
                <a routerLink="home" class="footer-logo">RedFlagger</a>
                <p class="footer-desc">RedFlagger: A Website Crowdsourced Facebook Scam Detector that can be used 
                                        to detect, report, and inform other users of scam pages and posts.</p>
            </div>
            <div class="inner-div2">
                <h4 class="navigation">Navigation</h4>
                <a routerLink="home" class="text">Home</a>
                <a routerLink="aboutus" class="text">About</a>
                <a routerLink="legal" class="legal">Legal Page</a>
            </div>
            <div class="inner-div3">
                <h4 class="heading4">Contact Us</h4>
                <p class="name">Payor, Matthew Josh G.</p>
                <p class="number">+639294950943</p>
            </div>   
        </div>
    </div>
    <div class="copyright">
        RedFlagger® is a registered trademark of CSS152L-Group 7. All other trademarks are the property of their respective owners.
    </div>
    <div class="copyright">
        This website is not affiliated with or endorsed by Facebook®, Meta®, or any of its subsidiaries.
    </div>
    <div class="copyright">
        Copyright © 2025 RedFlagger. All Rights Reserved.
    </div>
</footer>
