<div class="modal-backdrop">
  <div class="modal-overlay" (click)="close()"></div>

  <div class="modal-container dark-card-glow">
    <h1 class="modal-title">Change Username</h1>

    <div *ngIf="showUsernameForm" class="modal-form">
      <input
        type="text"
        [(ngModel)]="newUsername"
        placeholder="Enter a New Username for your Account"
        class="input-dark w-full placeholder-gray-400 dark:placeholder-gray-500"/>
    </div>

  <div class="modal-actions">
    <button (click)="close()" class="btn-cancel cursor-pointer">
      Cancel
    </button>
    <button 
      (click)="saveChanges()"
      [disabled]="!newUsername"
      class="btn-save cursor-pointer">
        Save
    </button>
    </div>
  </div>
</div>
