<div class="popup-overlay">
  <!-- Backdrop -->
  <div class="popup-backdrop" (click)="close()"></div>
  <!-- Popup Panel -->
  <div class="popup-panel dark-card">
    <h2 class="popup-heading text-center">Select a Profile Icon</h2>
    <!-- Current Selected Image -->
<!-- Center wrapper -->
    <div class="current-image-wrapper">
      <div class="current-image">
        <img
          [src]="'icons/' + currentImage + '.svg'"
          [alt]="currentImage"
          class="popup-image" />
      </div>
    </div>
    <hr class="popup-divider" />
    <!-- Image Options -->
    <div class="image-options">
      @for (image of images; track $index) {
        <div class="image-option" (click)="selectImage(image)">
          <img
            [src]="'icons/' + image + '.svg'"
            [alt]="image"
            class="popup-image"/>
        </div>
      }
    </div>
    <!-- Warning Text -->
    @if (exitNotSaved) {
      <div class="warning-text">
        Save Changes First
      </div>
    }
    <!-- Buttons -->
    <div class="popup-buttons justify-between">
      <button 
        (click)="cancel()" 
        class="btn-cancel cursor-pointer">
        Cancel
      </button>
      
      <button
        (click)="saveImage()"
        [disabled]="saving || originalImage === currentImage"
        class="btn-save cursor-pointer">
        Save
      </button>
    </div>
  </div>
</div>
