<main class="flex flex-col items-center justify-start w-full min-h-screen bg-gray-200 p-6">

    <div class="flex flex-1 flex-col w-full md:w-4/5 sm:w-5/5 lg:w-4/5 mx-auto bg-red-800 rounded-lg p-6">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  
      <div class="flex flex-col sm:flex-row gap-6">
        <!-- Left Card -->
        <div class="flex flex-col bg-white rounded-lg p-4 shadow-md w-full sm:w-1/2">
          <div class="flex items-center justify-center h-full w-full">
            <iframe
              [src]="fbEmbedUrl"
              class="w-full max-w-[500px] h-[150px]"
              style="border: none;"
              scrolling="no"
              frameborder="0"
              allowfullscreen="true"
              allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
            </iframe>
          </div>
          <h2 class="text-3xl drop-shadow-lg sm:text-5xl md:text-6xl lg:text-7xl font-bold xl:text-7xl text-red-600 text-center mt-4"
            style="font-family: 'Montserrat', sans-serif;">
            {{pageName}}
          </h2>
          <div class="text-gray-600 text-2xl sm:text-md lg:text-md xl:text-md py-4 sm:py-6 text-center">
            <span class="text-red-600 font-bold flex items-center flex-row justify-center"
              style="font-family: 'Noto Sans', sans-serif;">
              {{threatLevel}}/10&nbsp;<svg width="20px" height="20px" viewBox="0 0 24 24" fill="red" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5 1C4.44772 1 4 1.44772 4 2V22C4 22.5523 4.44772 23 5 23C5.55228 23 6 22.5523 6 22V15.693L18.8542 10.8727C20.5846 10.2238 20.5846 7.77627 18.8542 7.12739L6 2.30705V2C6 1.44772 5.55228 1 5 1ZM6 4.44305V13.557L17.6526 9.18732C17.8256 9.12243 17.8256 8.87767 17.6526 8.81278L6 4.44305Z" fill="#d41225"/>
                </svg></span>
          </div>
        </div>
  
        <!-- Right Card -->
        <div class="flex flex-col bg-white rounded-lg p-6 shadow-md w-full sm:w-1/2">
          <!-- Flag Design -->
          <div class="flex items-center justify-center">
            <div class="h-[200px] w-[200px] border-3 border-red-800 rounded-full shadow-lg flex items-center justify-center">
              <svg width="100" height="100" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                <rect x="75" width="69" height="500" rx="34.5" [attr.fill]="threatHex" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M219.75 305.535L204.315 311.941L131 342.367L131 262.989L131 107.378L131 28L204.3 58.42C204.305 58.4221 204.31 58.4242 204.315 58.4263L219.75 64.8318L391.796 136.232C435.375 154.318 435.375 216.05 391.795 234.136L219.75 305.535Z"
                  [attr.fill]="threatHex" />
              </svg>
            </div>
          </div>
  
          <!-- Stats -->
          <div class="grid grid-cols-1 sm:grid-cols-1 xl:grid-cols-3 lg:grid-cols-1 gap-6 mt-6">
            <div class="p-4 bg-white shadow-md hover:bg-yellow-500 border-3 border-red-800 hover:shadow-lg hover:scale-105 transition-all duration-300 rounded-lg text-center">
                <p class="text-red-600 mt-5 text-2xl" style="font-family: 'Noto Sans', sans-serif;">Total Reports</p>
                <span class="text-4xl font-bold text-red-600" style="font-family: 'Noto Sans', sans-serif;">{{reportTotal}}</span>
            </div>
            <div class="p-4 bg-white shadow-md hover:bg-yellow-500 border-3 border-red-800 hover:shadow-lg hover:scale-105 transition-all duration-300 rounded-lg text-center">
                <p class="text-red-600 mt-5 md:mt-3 text-2xl" style="font-family: 'Noto Sans', sans-serif;">Peak Daily Reports</p>
                <span class="text-4xl font-bold text-red-600" style="font-family: 'Noto Sans', sans-serif;">{{peakReport}}</span>
            </div>
            <div class="p-4 bg-white shadow-md hover:bg-yellow-500 border-3 border-red-800 hover:shadow-lg hover:scale-105 transition-all duration-300 rounded-lg text-center">
                <p class="text-red-600 mt-5 md:mt-1 xl:mt-1 lg:mt-1 text-2xl" style="font-family: 'Noto Sans', sans-serif;">Average Daily Reports</p>
                <span class="text-4xl font-bold text-red-600" style="font-family: 'Noto Sans', sans-serif;">{{averagePostCount}}</span>
            </div>
        </div>
        </div>
      </div>
      
      <h3 class="text-5xl text-center font-bold text-yellow-500 px-3 mt-9 mb-5 hidden sm:block" 
            style="font-family: 'Kanit', sans-serif;">OVERVIEW</h3>
      <!-- Overview Section -->
      <div class="mt-6 bg-yellow-500 rounded-lg p-4 shadow-2xl">
        
        <!-- Circular Design and Charts -->
        <div class="mr-1 md:mr-4 lg:mr-4 xl:mr-4 mb-6 md:mb-0 xl:mb-0 lg:mb-0 flex flex-col sm:flex-row items-center sm:items-start">

          <!-- Charts Section -->
          <div class="w-full sm:ml-4 bg-white p-4 rounded-lg shadow-md mt-6 sm:mt-0 flex flex-col space-y-4">
            <div class="p-9 rounded-lg">
              <canvas id="myChart"></canvas>
            </div>
            <div class="p-9 rounded-lg">
              <canvas id="myChart2"></canvas>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Reported Posts Section -->
      <h3 class="text-5xl font-bold text-yellow-500 text-center mt-9 mb-7" style="font-family: 'Noto Sans', sans-serif;">
        Reported Posts
      </h3>
      
      <div class="mt-6 bg-yellow-500 rounded-lg p-4 shadow-md">
        <div class="flex flex-wrap justify-center gap-9">
          
          <div *ngFor="let post of posts" 
               class="border-3 border-red-800 w-full sm:w-[48%] lg:w-[30%] bg-white p-4 shadow-md hover:bg-red-100 hover:shadow-md hover:scale-105 transition-all duration-300 rounded-lg">
            
            <!-- Facebook post embedded using iframe -->
            
      
            <div (click)="gotoInfo(post.POST_URL)" class="mt-4 text-3xl text-red-600 text-center">
              <p style="font-family: 'Noto Sans', sans-serif;">{{ post.POST_CONTENT }}</p>
              <p style="font-family: 'Noto Sans', sans-serif;">{{ post.TOTAL_REPORTS }} Reports</p>
              <p style="font-family: 'Noto Sans', sans-serif;">
                <span class="text-red-600 font-bold">{{postLevels[post.POST_ID].toFixed(1)}}/5</span> 🚩
              </p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </main>
  