<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<main class="signup-container">
    <div class="signup-box p-8 sm:p-12 md:p-16 mx-auto min-h-[400px] sm:min-h-[500px] md:min-h-[500px]">
        <h2 class="signup-title">Create Account</h2>
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <input type="email" 
                placeholder="Enter Email Address..." 
                formControlName="email" 
                aria-label="Email Address" 
                required class="signup-input">

                <input type="text" 
                placeholder="Enter Username..." 
                formControlName="username" 
                aria-label="Username" 
                required class="signup-input">
                    
                <input type="password" 
                placeholder="Enter Password..." 
                formControlName="password" 
                aria-label="Password" 
                required class="signup-input">

                <p class="signup-info">*Password must be atleast 6 characters long</p>

                @if (errorMessage) {
                    <div class="signup-error mb-4">{{ errorMessage }}</div>
                }
            <button type="submit" [disabled]="signingUp"
                class="signup-button disabled:text-gray-500 text-xl sm:text-2xl md:text-3xl max-w-xs sm:max-w-sm md:max-w-md py-2 sm:py-3 px-3 sm:px-6">
                @if(signingUp){
                    <h1 class="text-gray-500">
                        SIGNING UP
                    </h1>    
                }@else {
                    <h1 class="text-red-70">
                        SIGN UP
                    </h1>    
                }
            </button>
        </form>
    </div>
</main>
