<main class="flex justify-center items-center p-4 w-full h-full">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <div class="bg-red-700 text-white p-16 text-center w-full max-w-xl mx-auto rounded-lg shadow-lg">
        <h2 class="text-4xl font-bold font-jua mb-4" style="font-family: 'Jua', sans-serif;">Create Account</h2>
        <form>
            <input type="email" placeholder="Enter Email Address" aria-label="Email Address" required class="w-full text-center p-4 mb-4 rounded-lg border-2 border-gray-300 bg-white focus:border-red-600 focus:ring-2 focus:ring-red-600">
            <input type="text" placeholder="Enter Username" aria-label="Username" required class="w-full text-center p-4 mb-4 rounded-lg border-2 border-gray-300 bg-white focus:border-red-600 focus:ring-2 focus:ring-red-600">
            <input type="password" placeholder="Enter Password" aria-label="Password" required class="w-full text-center p-4 mb-4 rounded-lg border-2 border-gray-300 bg-white focus:border-red-600 focus:ring-2 focus:ring-red-600">
            <p class="text-sm mb-4">*Password must be 8-12 characters long, must include uppercase & lowercase letters, & must have a number*</p>
            <button type="submit" class="text-1xl bg-white text-red-600 py-5 px-12 rounded-full font-bold hover:bg-yellow-400 hover:text-red-600 transition-all transform hover:scale-110">
                Sign Up
            </button>
        </form>
    </div>
</main>
