
    
<main class="flex justify-center items-center p-4 w-full h-full">
    
    <div class="bg-red-700 text-white p-16 text-center w-full max-w-xl mx-auto rounded-lg shadow-lg">
        <h2 class="text-4xl font-bold font-jua mb-4">Create Account</h2>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <input type="email" placeholder="Enter Email Address" formControlName="email" aria-label="Email Address" required class="w-full text-center p-4 mb-4 rounded-lg border-2 border-gray-300 focus:border-red-600 focus:ring-2 focus:ring-red-600">
            <input type="text" placeholder="Enter Username" formControlName="username" aria-label="Username" required class="w-full text-center p-4 mb-4 rounded-lg border-2 border-gray-300 focus:border-red-600 focus:ring-2 focus:ring-red-600">
            <input type="password" placeholder="Enter Password" formControlName="password" aria-label="Password" required class="w-full text-center p-4 mb-4 rounded-lg border-2 border-gray-300 focus:border-red-600 focus:ring-2 focus:ring-red-600">
            <p class="text-sm mb-4">*Password must be atleast 6 characters long</p>
            @if (errorMessage) {
            <div class="text-yellow-400 mb-4">{{ errorMessage }}</div>
            }
            <button type="submit" class="bg-white text-red-600 py-3 px-6 rounded-full font-bold hover:bg-yellow-400 hover:text-red-600 transition-all transform hover:scale-110">
                SIGN UP
            </button>
        </form>
    </div>
</main>
