<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<main class="flex flex-col items-center justify-start w-full min-h-screen bg-gray-100 p-6">
  <div
    class="w-full md:w-4/5 sm:w-5/5 lg:w-4/5 flex flex-wrap md:flex-nowrap bg-red-800 shadow-lg p-4 gap-4 mb-6 h-auto">
    <div
      class="flex flex-col items-center justify-center bg-gray-200 p-4 w-full md:w-1/4 md:h-[702px] rounded-lg shadow-lg">
      <div class="w-[50%] sm:w-[70%] md:w-[90%] ">
        <svg class="w-full h-full max-w-[400px] max-h-[400px]" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid meet">
          <rect x="75" width="69" height="500" rx="34.5" [attr.fill]="threatHex" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M219.75 305.535L204.315 311.941L131 342.367L131 262.989L131 107.378L131 28L204.3 58.42C204.305 58.4221 204.31 58.4242 204.315 58.4263L219.75 64.8318L391.796 136.232C435.375 154.318 435.375 216.05 391.795 234.136L219.75 305.535Z"
            [attr.fill]="threatHex" />
        </svg>
      </div>
      <h2 class="text-4xl font-bold text-red-600 mb-4 px-5" style="font-family: 'Jua', sans-serif;">
        {{threatColor}}
      </h2>
    </div>
    <div class="w-full md:w-3/4 flex flex-col gap-4 flex-grow">
      <div class="w-full bg-gray-200 shadow-lg rounded-lg p-4 flex flex-wrap items-center 
                  justify-center sm:justify-between gap-4 text-red-500" style="font-family: 'Jua', sans-serif;">
        <span class="text-5xl font-semibold">{{threatLevel?.toFixed(1)}}/10
        </span>
        @if(threatLevel == null){🏴}
        @else if (threatLevel <= 1) { 🚩 } @else if (threatLevel <=3) { 🚩🚩 } @else if (threatLevel <=5) { 🚩🚩🚩 }
          @else if (threatLevel <=7) { 🚩🚩🚩🚩 } @else { 🚩🚩🚩🚩🚩 } <div
          class="px-5 text-5xl flex space-x-1 text-yellow-500">
      </div>
      <button [disabled]="!isLoggedIn || !userInputUrl" (click)="getLinkAndRouteReport()" class="bg-yellow-500 text-white w-full sm:w-auto px-6 py-3 text-2xl rounded-lg 
                    hover:bg-yellow-500 hover:scale-102 transition-all duration-300 
                    font-bold flex-shrink-0 whitespace-nowrap self-center min-w-[150px] text-center">
        Report
      </button>
    </div>
    <div class="w-full flex flex-col md:flex-row bg-red-800">
      <div
        class="w-full md:w-1/2 h-auto md:h-[600px] bg-gray-200 flex flex-col items-center justify-center p-6 mr-4 rounded-lg overflow-auto mb-3">
        <h2 class="text-4xl md:text-5xl font-bold text-yellow-500 mb-4 text-center"
          style="font-family: 'Jua', sans-serif;">
          Post Content
        </h2>
        <p class="text-black text-lg md:h-[600px] mt-3 md:text-xl text-justify leading-relaxed w-full"
          style="font-family: 'Poppins', sans-serif;">
          {{postContent}}
        </p>
      </div>
      <div
        class="w-full md:w-1/2 md:h-[600px] flex flex-col items-center justify-center p-4 bg-gray-200 rounded-lg overflow-hidden">
        <iframe [src]="fbEmbedUrl" class="w-full h-full flex-grow md:px-10" style="border: none;" scrolling="no"
          frameborder="0" allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
        </iframe>
      </div>
    </div>
  </div>
  </div>

  <!--Reports Card-->
  <div>
    <h2>
      Reports
    </h2>
    <button (click)="goToReports()" class="bg-yellow-500 text-white w-full sm:w-auto px-6 py-3 text-2xl rounded-lg 
              hover:bg-yellow-500 hover:scale-102 transition-all duration-300 
              font-bold flex-shrink-0 whitespace-nowrap self-center min-w-[150px] text-center">
      View all reports
    </button>
  </div>

  <!--Dashboard Card-->

  <div class="flex lg:flex-row md:flex-col sm:flex-col gap-10 md:w-4/5 sm:w-5/5 lg:w-4/5">
    <!--Dashboad -->
    <div class="flex flex-col basis-1/4 w-full bg-red-800 p-6 shadow-lg rounded-lg mb-6">
      <h2 class="text-5xl font-bold text-center text-yellow-500 mb-4 px-5" style="font-family: 'Jua', sans-serif;">
        Statistics</h2>

      <div class="flex flex-col flex-grow gap-6 w-full">
        <!-- Statistics Section -->
        <div class="flex flex-col sm:flex-col justify-between flex-grow gap-6 w-full">
          <!-- Total Reports Card -->
          <div
            class="flex-1 flex flex-col justify-center items-center hover:bg-yellow-500 hover:shadow-md hover:scale-105 transition-all duration-300 p-4 rounded-lg bg-gray-200 w-full">
            <p class="text-3xl text-red-600 text-center" style="font-family: 'Jua', sans-serif;">Total Reports</p>
            <span class="text-7xl font-bold text-red-600 mt-2 text-center"
              style="font-family: 'Jua', sans-serif;">{{reportTotal}}</span>
          </div>

          <!-- Peak Daily Reports Card -->
          <div
            class="flex-1 flex flex-col justify-center items-center hover:bg-yellow-500 hover:shadow-md hover:scale-105 transition-all duration-300 p-4 rounded-lg bg-gray-200 w-full">
            <p class="text-3xl text-red-600 text-center" style="font-family: 'Jua', sans-serif;">Peak Daily Reports</p>
            <span class="text-7xl font-bold text-red-600 mt-2 text-center"
              style="font-family: 'Jua', sans-serif;">{{peakReport}}</span>
          </div>

          <!-- Average Daily Reports Card -->
          <div
            class="flex-1 flex flex-col justify-center items-center hover:bg-yellow-500 hover:shadow-md hover:scale-105 transition-all duration-300 p-4 rounded-lg bg-gray-200 w-full">
            <p class="text-3xl text-red-600 text-center" style="font-family: 'Jua', sans-serif;">Average Daily Reports
            </p>
            <span class="text-7xl font-bold text-red-600 mt-2 text-center"
              style="font-family: 'Jua', sans-serif;">{{averagePostCount}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col basis-3/4 w-full bg-red-800 p-6 shadow-lg rounded-lg mb-6">
      <h2 class="text-5xl font-bold text-center text-yellow-500 mb-4 px-5" style="font-family: 'Jua', sans-serif;">
        Charts</h2>

      <div class="flex flex-col flex-grow gap-6">
        <!-- Chart 1 Container -->
        <div class="bg-gray-200 w-full h-[300px] flex items-center justify-center rounded-lg 
          cursor-pointer transition-all duration-300 ease-in-out hover:scale-101 
          hover:shadow-lg hover:shadow-red-500" (click)="toggleGraph()">
          <canvas id="myChart"></canvas>
        </div>

        <!-- Chart 2 Container -->
        <div class="bg-gray-200 w-full h-[300px] flex items-center justify-center rounded-lg cursor-pointer 
          transition-all duration-300 ease-in-out hover:scale-101 hover:shadow-lg hover:shadow-blue-500">
          <canvas id="myChart2"></canvas>
        </div>
      </div>
    </div>
  </div>




  <div *ngIf="isLightboxOpen"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 backdrop-blur-sm z-50"
    (click)="closeLightbox()">
    <div class="bg-white p-6 rounded-lg shadow-2xl w-[90vw] md:w-[60vw] lg:w-[50vw] max-h-[80vh] overflow-auto relative 
               transition-transform duration-300 ease-in-out" (click)="$event.stopPropagation()">

      <button class="absolute top-3 right-3 text-gray-500  hover:text-red-600 text-4xl font-bold 
                  rounded-full p-1 transition-all duration-300" (click)="closeLightbox()">
        &times;
      </button>

      <h3 class="text-3xl font-bold text-red-600 mb-4 text-center" style="font-family: 'Jua', sans-serif;">
        Graph Details
      </h3>

      <div class="w-full h-[400px] flex items-center justify-center bg-gray-200 rounded-lg 
            transition-all duration-300 ease-in-out 
            hover:scale-101 hover:shadow-lg hover:shadow-red-500">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>

</main>
