<main class="custom-dark main-container">

  <!-- Outer wrapper -->
  <div class="outer-wrapper">

    <!-- Flag and Username -->
    <div class="flag-container">
      <video autoplay loop muted playsinline class="video-container">
        <source src="/redflag.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      
      <div class="username-bottom-left bg-opacity-50">
        <h1 class="heading1-big">{{ username }}</h1>
      </div>
    </div>

    <!-- Edit Profile Button  -->
    <div class="flex justify-center mb-10">
      <button
        (click)="goToSettings()"
        class="edit-profile-btn">
        Edit Profile
      </button>
    </div>

    <!-- Tabs Section -->
    <div class="tabs-container">
      <div class="flex border-b border-gray-700 dark:border-gray-600">
        <button
          class="tab-btn"
          [class.active-tab]="activeTab === 'reports'"
          (click)="activeTab = 'reports'"
        >
          Reports
        </button>
        <button
          class="tab-btn"
          [class.active-tab]="activeTab === 'reviews'"
          (click)="activeTab = 'reviews'"
        >
          Reviews
        </button>
      </div>

      <div class="tab-content mt-6">
        <app-report-user-profile *ngIf="activeTab === 'reports'" [userId]="userId"></app-report-user-profile>
        <app-review-user-profile *ngIf="activeTab === 'reviews'" [userId]="userId"></app-review-user-profile>
      </div>
    </div>
  </div>
</main>
