<main class="custom-dark main-container">

  <div class="upper-wrapper flex space-x-10 items-end">
    <div class="flex space-x-10 items-end">
<!-- Profile button with hover overlay -->

    <div class="relative bg-gray-100 w-40 h-40 rounded-full overflow-hidden shadow-md cursor-pointer group" (click)="showProfilePicturePopup = true">
      <img [src]="'icons/' + userProfileImage + '.svg'" alt="Profile icon"
        class="w-full h-full object-contain transition duration-300 group-hover:blur-sm" />
      <div
        class="absolute inset-0 flex items-center justify-center bg-black/40 text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition duration-300">
        Edit
      </div>
    </div>


      <div class="username-bottom-left bg-opacity-50">
        <h1 class="heading1-big ">{{ username }}</h1>
      </div>
    </div>

    <!-- Edit Profile Button  -->
    <div>
      <button
        (click)="showProfileUsernamePopup = true"
        class="edit-profile-btn">
        <img [src] = "'edit.svg'" class="w-5 h-5 block dark:hidden">
        <img [src] = "'edit-dark.svg'" class="w-5 h-5 hidden dark:block">
      </button>
    </div>
  </div>
  <!-- Outer wrapper -->
  <div class="outer-wrapper">
    <!-- Tabs Section -->
    <div class="tabs-container">
      <div class="flex border-b border-gray-700 dark:border-gray-600">
        <button
          class="tab-btn"
          [class.active-tab]="activeTab === 'reports'"
          (click)="activeTab = 'reports'"
        >
          Reports
        </button>
        <button
          class="tab-btn"
          [class.active-tab]="activeTab === 'reviews'"
          (click)="activeTab = 'reviews'"
        >
          Reviews
        </button>
      </div>

      <div class="tab-content mt-6">
        <app-report-user-profile *ngIf="activeTab === 'reports'" [userId]="userId"></app-report-user-profile>
        <app-review-user-profile *ngIf="activeTab === 'reviews'" [userId]="userId"></app-review-user-profile>
      </div>
    </div>
  </div>
  <app-profile-image-select *ngIf="showProfilePicturePopup" 
  (closePopup)="showProfilePicturePopup = false"
  (imageSaved)="onImageSaved()"
  [currentImage]="userProfileImage"></app-profile-image-select>
  <app-profile-settings *ngIf="showProfileUsernamePopup" 
  (closePopup)="onUsernameSaved()"></app-profile-settings>
</main>
