<main class="flex flex-col items-center justify-start w-full bg-gray-300">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    
    <div class="w-full bg-white p-8 shadow-md flex flex-col items-center mb-12">
      <h1 class="text-7xl font-bold text-center text-red-600 mb-4" style="font-family: 'Jua', sans-serif;">Crowdsourced Facebook</h1>
      <h2 class="p-2 text-7xl font-semibold text-center text-red-600 mb-6" style="font-family: 'Jua', sans-serif;">Scam Detector</h2>
      <input 
      type="text" 
      placeholder="Paste link here"
      id="linkInput" 
      class="w-full sm:w-3/4 md:w-2/3 lg:w-1/2 p-4 border-3 border-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-600 mb-6"/>
    </div>
  
    <div class="w-full p-3 px-4 sm:px-5 md:px-8 flex flex-wrap justify-center gap-8 mb-16">

      <div class="bg-white p-6 shadow-md rounded-lg w-full sm:w-1/3 md:w-1/4 lg:w-1/4 text-center hover:bg-red-200 hover:shadow-xl transform hover:scale-105 transition-all duration-200 ease-in-out">
        <h3 class="text-8xl font-semibold text-gray-800 mb-2">120</h3>
        <p class="text-2xl text-red-600 font-bold">Posts Reported</p>
      </div>
  
      <div class="bg-white p-6 shadow-md rounded-lg w-full sm:w-1/3 md:w-1/4 lg:w-1/4 text-center hover:bg-red-200 hover:shadow-xl transform hover:scale-105 transition-all duration-200 ease-in-out">
        <h3 class="text-8xl font-semibold text-gray-800 mb-2">987</h3>
        <p class="text-2xl text-red-600 font-bold">User Reports</p>
      </div>
  
      <div class="bg-white p-6 shadow-md rounded-lg w-full sm:w-1/3 md:w-1/4 lg:w-1/4 text-center min-h-50 hover:bg-red-200 hover:shadow-xl transform hover:scale-105 transition-all duration-200 ease-in-out">
        <h3 class="text-8xl font-semibold text-gray-800 mb-2">80</h3>
        <p class="text-2xl text-red-600 font-bold">Accounts Reported</p>
      </div>
    </div>
  </main>
  