<main class="main-container custom-dark">
  <div class="flag-container">
    <video autoplay loop muted playsinline class="video-container">
      <source src="/redflag.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="title-container">
      <div class="title-div">
        <h1 class="heading1">Crowdsourced Facebook</h1>
        <h2 class="heading2">Scam Detector</h2>
          <input type="text" 
            aria-label="Paste Facebook post URL" 
            (keyup.enter)="searchAction()" 
            [(ngModel)]="userInputUrl"
            placeholder="Paste Facebook Link Here (Video and Group Posts currently Unsupported)"
            id="linkInput" class="linkbox custom-dark mt-4"/>
      </div>
    </div>
    </div>
    <div class="stats-container">
      <div class="box hover custom-dark dark-hover">
          <div class="flex justify-center mb-2">
            <img src="database.svg" alt="Posts Icon" class="w-10 h-10 invert-0 brightness-100 dark:invert dark:brightness-200">
          </div>
        <h3 class="heading3-a">{{postReportCount}}</h3>
          <p class="stats">Posts In Database</p>
      </div>
      <div class="box hover">
          <div class="flex justify-center mb-2">
            <img src="users.svg" alt="Posts Icon" class="w-10 h-10 invert-0 brightness-100 dark:invert dark:brightness-200">
          </div>
        <h3 class="heading3-b">{{userReportCount}}</h3>
          <p class="stats">User Reports</p>
      </div>
      <div class="box hover">
          <div class="flex justify-center mb-2">
            <img src="accounts.svg" alt="Posts Icon" class="w-10 h-10 invert-0 brightness-100 dark:invert dark:brightness-200">
          </div>
        <h3 class="heading3-b">{{accReportCount}}</h3>
          <p class="stats">Accounts Reported</p>
      </div>
    </div>
</main>